.articles_type_search {
  padding: 32px 0 24px; /*Moblie */
}
@media screen and (min-width: 663px) {
  /*Tablet*/
  .articles {
    padding: 40px 0;
  }
}
@media screen and (min-width: 1024px) {
  /*Wide Screen*/
  .articles_type_search {
    padding: 80px 0;
  }
}
