.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.15s, opacity 777ms;
  z-index: 10000;
}
.popup_visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 777ms;
}
.popup__container {
  position: relative;
  max-width: none; /*Mobile*/
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  width: 100%;
  color: #000000;
}
.popup__close-button {
  right: 0; /*Mobile*/
  top: -40px; /*Mobile*/
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url("../../images/PopupWithForms/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}
.popup__wrapper {
  padding: 16px; /*Moblie*/
  width: 100%;
}
.popup__heading {
  margin: 0 0 18px; /*Mobile*/
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  color: #1a1b22;
}
.popup__heading_type_signup_success {
  margin: 0;
}
.popup__form {
  display: flex;
  flex-direction: column;
  margin: 22px 0 0;
}
.popup__form_type_close {
  display: none;
}
.popup__form_type_signup_success {
  margin: 0;
}
.popup__fieldset {
  all: unset;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
}
.popup__label {
  margin: 0 0 8px; /*Mobile*/
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #2f71e5;
}
.popup__input {
  border: unset;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 10px;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.214285714285714;
}
.popup__input-error {
  color: red;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25;
  margin: 3px 0 0;
  min-height: 30px;
}
.popup__input-error_type_server-error {
  text-align: center;
  min-height: 8px;
  margin: 0;
}
.popup__submit-button {
  padding: 0; /*Mobile*/
  min-height: 64px;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3333;
  text-align: center;
  color: #ffffff;
  margin: 13px 0 0;
}
.popup__submit-button_inactive {
  color: #b6bcbf;
  background-color: #e6e8eb;
  border-radius: 100px;
  user-select: none;
  cursor: not-allowed;
  pointer-events: none;
  border-radius: 100px;
}

.popup__bottom-link {
  font-size: 0.875rem;
  line-height: 1.21428571429;
  text-align: center;
  color: #000000;
  margin: 22px 0 0;
}
.popup__bottom-link_type_signup_success {
  margin: 14px 0 0;
  text-align: left;
}

.popup__bottom-link_txt_link {
  color: #2f71e5;
  cursor: pointer;
}
@media screen and (min-width: 470px) {
  /*Tablet*/
  .popup__wrapper {
    padding: 34px 36px 28px;
  }
  .popup__container {
    max-width: 430px;
  }
  .popup__close-button {
    right: -20px;
    top: -40px;
  }
  .popup__heading {
    margin: 0 0 22px;
  }
  .popup__heading_type_signup_success {
    margin: 0;
  }
  .popup__label {
    margin: 0 0 9px;
  }
  .popup__submit-button {
    padding: 20px 114px;
    min-height: unset;
  }
}
@media screen and (min-width: 1024px) {
  /*Wide Screen*/
  .popup__wrapper {
    padding: 34px 35px 28px;
  }
  .popup__close-button {
    right: -46px;
    top: -46px;
  }
}
