.preloader-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.15s, opacity 477ms;
  z-index: 1000000;
}
.preloader-container_visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 477ms;
  cursor: progress;
}

.hero-cover {
  /* margin: 0 0 32px; Moblie */
  /* max-height: 536px; */
  background-image: url("../../images/App/hero_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  z-index: 30;
  width: 100vw;
}
.main {
  max-width: calc(100vw - (24px * 2)); /*Moblie */
  margin: 0 auto;
}
@media screen and (min-width: 471px) {
  /*Tablet*/
  .main {
    max-width: calc(100vw - (40px * 2));
  }
}

@media screen and (min-width: 901px) {
  /*Wide Screen*/
  .main {
    max-width: calc(100vw - (104px * 2));
  }
  .hero-cover {
    max-height: 576px;
    /* margin: 0 0 80px; Moblie */
  }
}
