.nav-header__container {
  display: flex;
  gap: 22px 0; /*Moblie */
  align-items: unset; /*Moblie */
  position: absolute; /*Moblie */
  flex-direction: column; /*Moblie */
  background-color: rgb(26, 27, 34); /*Moblie */
  width: 100%; /*Moblie */
  padding: 16px 16px 24px; /*Moblie */
  justify-content: space-around; /*Moblie */
}
.nav-header__btn {
  width: fit-content; /*Moblie */
  font-size: 1.125rem; /*Moblie */
  line-height: 3.1111111111; /*Moblie */
  font-weight: 500;
  height: 100%;
}
.nav-header__btn_type_signin {
  height: 56px; /*Moblie */
  width: 100%; /*Moblie */
  border: 1px solid #ffffff;
  border-radius: 100px;
  text-align: center;
}
.nav-header__container {
  height: unset;
}
@media screen and (min-width: 471px) {
  /*Tablet*/
  .nav-header__container {
    align-items: center;
    justify-content: unset;
    position: static;
    gap: 0 16px;
    flex-direction: row;
    width: auto;
    background-color: transparent;
    padding: 0;
    height: 100%;
  }
  .nav-header__btn {
    font-size: 1rem;
    line-height: 1.5;
    width: unset;
  }
  .nav-header__btn_type_signin {
    width: 152px;
    height: 40px;
  }
}
@media screen and (min-width: 901px) {
  /*Wide Screen*/
  .nav-header__container {
    gap: 0 42px;
  }
  .nav-header__btn {
    font-size: 1.125rem;
    line-height: 1.333333333;
  }
  .nav-header__btn_type_signin {
    /* padding: 11.5px 58.5px; */
    width: 176px;
    height: 48px;
  }
}
