.header {
  height: 56px; /*Moblie*/
  background: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  width: 100%;
  z-index: 10;
  position: relative;
}
.header__wrapper {
  max-width: calc(100vw - (16px * 2)); /*Moblie */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.header__logo {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 700;
}
.header__moblie-menu-btn {
  max-width: 24px;
  max-height: 24px;
}
.header__moblie-menu-img {
  object-fit: cover;
}
@media screen and (min-width: 523px) {
  /*Tablet*/
  .header {
    height: 66px;
    position: static;
  }
  .header__wrapper {
    max-width: calc(100vw - (42px * 2));
  }
}
@media screen and (min-width: 901px) {
  /*Wide Screen*/
  .header {
    height: 80px;
  }
  .header__wrapper {
    max-width: calc(100vw - (104px * 2));
  }
}
