.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: calc(100% - (105px * 2));
}
.footer__copyright-text {
  line-height: 1.375;
  color: #b6bcbf;
}
.footer__copyright-text::before {
  content: "\00a9";
}

.footer__nav-list {
  list-style: none;
  display: flex;
}
.footer__nav-item_type_text {
  font-size: 18px;
  line-height: 24px;
}

.footer__nav-item_type_img {
  margin: 0 28px 0 0;
}
.footer__icon {
  width: 20px;
  height: auto;
}
