.footer {
  max-width: calc(100% - (15px * 2)); /*Moblie*/
  padding: 20px 0 22px 0; /*Moblie*/
  gap: 38px 0; /*Moblie*/
  justify-content: none; /*Moblie*/
  flex-direction: column-reverse; /*Moblie*/
  white-space: normal; /*Moblie*/
  align-items: none;
  display: flex;
  margin: 0 auto;
}
.footer__copyright-text {
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 400;
  color: #b6bcbf;
  text-align: center;
}
.footer__copyright-text::before {
  content: "\00a9";
}

.footer__nav-list {
  display: grid; /*Moblie*/
  margin: 0 auto; /*Moblie*/
  grid-template-areas:
    "footer__nav-item-txt_content_home footer__nav-item-icon_name_github footer__nav-item-icon_name_linkedin footer__nav-item-icon_name_facebook"
    "footer__nav-item-txt_content_practicum . . .";
  grid-template-columns: 55.44% repeat(auto-fit, minmax(26px, 2fr)); /*Moblie*/
  width: 100%; /*Moblie*/
  gap: 17.78px 0;
  padding: 0;
}
.footer__nav-item-txt_content_home {
  grid-area: footer__nav-item-txt_content_home;
}
.footer__nav-item-icon_name_github {
  grid-area: footer__nav-item-icon_name_github;
}
.footer__nav-item-icon_name_linkedin {
  grid-area: footer__nav-item-icon_name_linkedin;
}
.footer__nav-item-txt_content_practicum {
  grid-area: footer__nav-item-txt_content_practicum;
}

.footer__nav-item-txt {
  margin: 0; /*Moblie*/
  font-size: 1.125rem;
  line-height: 2.6666666666;
  font-weight: 400;
}
.footer__nav-item-icon {
  margin: 0; /*Moblie*/
  align-self: center;
  justify-self: center;
  width: 20px;
  height: auto;
}

.footer__nav-item-icon_name_facebook {
  grid-area: footer__nav-item-icon_name_facebook;
  margin: 0;
}
@media screen and (min-width: 520px) {
  .footer {
    max-width: calc(100% - (30px * 2));
  }
  .footer__nav-list {
    grid-template-columns: 70.44% repeat(3, 1fr);
  }
}
@media screen and (min-width: 789px) {
  .footer {
    gap: 0 5px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
  }
  .footer__nav-list {
    display: flex;
    margin: 0;
    width: auto;
  }
  .footer__nav-item-txt {
    margin: 0 20px 0 0;
  }
  .footer__nav-item-icon {
    margin: 0 20px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    max-width: calc(100% - (80px * 2));
    padding: 30px 0 28px;
  }
  .footer__nav-item-txt {
    margin: 0 41px 0 0;
  }
  .footer__nav-item-icon {
    margin: 0 27px 0 0;
  }
}
